<div class="panel panel-default cocktail-item">
    <div class="panel-heading">
        <h3 class="panel-title">{{item.name}}</h3>
    </div>
    <div class="panel-body">
        <p>Category: {{item.category}}</p>
        <p>Instructions: {{item.instructions}}</p>
        <p>Ingredients: {{item.ingredients}}</p>
        <p>Picture: {{item.image-url}}</p>
    </div>
</div>
