<div class="panel panel-default cocktail-item">
    <div class="panel-heading">
        <h3 class="panel-title">{{item.name}}</h3>
    </div>
    <div class="panel-body">
        <p>User ID: {{item.user_id}}</p>
        <p>Category: {{item.category}}</p>
        <p>Directions: {{item.directions}}</p>
        <p>Ingredients: {{item.ingredients}}</p>
        <p>Picture: {{item.imageurl}}</p>
    </div>
    <div class="panel-footer">
      <span class="pull-right">
        {{yield}}
      </span>
    </div>
</div>
